.parent{
    /* justify-content: center; */
    /* text-align: center; */
    height: 880px;
    width: 500px;
    border: 3px solid red;
    border-top-right-radius:3px ;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 8px;
    border-left-color: blueviolet ;
    border-right-color: orangered ;
    border-top-color: green;
    border-bottom-color: goldenrod;
    margin-left: 27%;
}
.parent:hover{
    cursor: wait;
    -moz-box-shadow: 0 0 100px rgb(21, 58, 180);
    -webkit-box-shadow: 0 0 100px rgb(50, 39, 201);
    box-shadow: 0 0 100px rgb(13, 53, 185);
}
body{
    background-color: black;
    font-family: 'Scheherazade New', serif;
    color: white;
}
 img{
    height: 70px;
    width: 70px;
    margin-left: 5px;
    margin-top: 30px;
    border-radius: 50%;
    border: 2px solid red;
}
.border{
    margin-left: 300px;
    margin-right: 10px;
    border: 3px solid red;
    text-align: center;
    justify-content: center;
    border-top-left-radius:3px ;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 8px;
    border-left-color: blueviolet ;
    border-right-color: orangered ;
    border-top-color: green;
    border-bottom-color: goldenrod;
}
.border-1{
    margin-left: 90px;
    margin-right: 100px;
    margin-top: 160px;
    width: 200px;
    height: 100px;
    border: 3px solid red;
    text-align: center;
    justify-content: center;
    border-top-left-radius:3px ;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 8px;
    border-left-color: blueviolet ;
    border-right-color: orangered ;
    border-top-color: green;
    border-bottom-color: goldenrod;
}
.border-2{
    margin-left: 280px;
    margin-right: 100px;
    /* margin-top: 160px; */
    width: 200px;
    height: 100px;
    border: 3px solid red;
    text-align: center;
    justify-content: center;
    border-top-left-radius:3px ;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 8px;
    border-left-color: blueviolet ;
    border-right-color: orangered ;
    border-top-color: green;
    border-bottom-color: goldenrod;
}